version: '3.7'
services:
  # --- Kafka Broker Service ---
  broker:
    image: apache/kafka:latest
    container_name: broker
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      
      # LISTENERS: Broker binds to all interfaces (0.0.0.0) 
      #    and defines two protocols (INTERNAL for Docker, EXTERNAL for Host)
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093
      # ADVERTISED LISTENERS: Tells clients where to connect
      #    - INTERNAL clients (e.g., Spark container) connect via the service name 'broker'.
      #    - EXTERNAL clients (e.g., Python script) connect via 'localhost'.
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://broker:29092,EXTERNAL://localhost:9092

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # Security Protocol Map
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      # Inter-Broker Listener Name (Fixes Java IllegalArgumentException)
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      # Quorum Voters (Use internal service name)
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093

      # General Kafka Settings
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    
    # --- Spark Worker/Master Service
  spark: 
    # image: apache/spark:3.5.7-scala2.12-java11-python3-ubuntu
    build:
      context: .
      dockerfile: Dockerfile
    image: stable-pyspark-app:latest
    container_name: spark-master 
    ports:
      - "8080:8080" # Spark UI
      - "7077:7077" # Spark Master
      - "8888:8888" # Jupyter Notebook port (useful for debugging)
    environment:
      # Master configuration for the official image
      SPARK_MASTER_HOST: spark-master 
      SPARK_MASTER_PORT: 7077
      
      # Tell Spark where the Kafka broker is located (INTERNAL listener)
      SPARK_KAFKA_BROKERS: broker:29092 

      # Set the user for the container to match the Dockerfile user
      NB_USER: jovyan
      NB_UID: 1000

    depends_on:
      - broker
    volumes:
      # Map the local 'app' directory to '/app' inside the container
      - ./app:/app 
    # The new image's ENTRYPOINT handles user switching; this command sleeps.
    command: ["start.sh", "bash", "-c", "sleep infinity"]